<!--
 UGENE - Integrated Bioinformatics Tools.
 Copyright (C) 2008-2023 UniPro <ugene@unipro.ru>
 http://ugene.net

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; either version 2
 of the License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 MA 02110-1301, USA.
-->
<h3>Изменения в UGENE версии 51</h3>

<ul style="margin-top: 10px; margin-bottom: 10px;">
    <li style="margin-bottom: 10px;">UGENE Cloud Workspace: <a href="https://workspace.ugene.net">workspace.ugene.net</a>
    </li>
    <li style="margin-bottom: 10px;">Улучшена поддержка фильтрации сайтов рестрикций</li>
    <li style="margin-bottom: 10px;">Исправлены проблемы с внешним инструментом `vcf-consensus`</li>
    <li style="margin-bottom: 10px;">Пакет Samtools обновлен до последней версии</li>
    <li style="margin-bottom: 10px;">Добавлена поддержка сайтов рестрикции с несколькими точками разреза</li>
    <li style="margin-bottom: 10px;">Исправлена ошибка в Phylip bootstrap, которая могла приводить к некорректным
        нулевым расстояниям
    </li>
    <li style="margin-bottom: 10px;">Устранены несколько сбоев в Workflow Designer, связанных с точками останова</li>
    <li style="margin-bottom: 10px;">Улучшена обработка больших наборов данных, превышающих доступную память</li>
</ul>

<p>
    Подробности смотрите на <a href="https://ugene.net/ru/changelist.html">сайте UGENE</a>.
</p>
