<!--
 UGENE - Integrated Bioinformatics Tools.
 Copyright (C) 2008-2023 UniPro <ugene@unipro.ru>
 http://ugene.net

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; either version 2
 of the License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 MA 02110-1301, USA.
-->
<h3>Changes in UGENE v. 51</h3>

<ul style="margin-top: 10px; margin-bottom: 10px;">
    <li style="margin-bottom: 10px;">UGENE Cloud Workspace: <a href="https://workspace.ugene.net">workspace.ugene.net</a>
    </li>
    <li style="margin-bottom: 10px;">Enhanced filtering support for restriction sites</li>
    <li style="margin-bottom: 10px;">Resolved issues with the external tool, `vcf-consensus`</li>
    <li style="margin-bottom: 10px;">Samtools package updated to the latest version</li>
    <li style="margin-bottom: 10px;">Added support for restriction sites with multiple cut points</li>
    <li style="margin-bottom: 10px;">Fixed a bug in Phylip bootstrap that could lead to incorrect zero distances</li>
    <li style="margin-bottom: 10px;">Addressed several crashes in Workflow Designer related to breakpoints</li>
    <li style="margin-bottom: 10px;">Improved handling of large datasets that exceed available memory</li>
</ul>

<p>
    A complete list of changes can be found on the <a href="https://ugene.net/changelist.html">UGENE web site</a>.
</p>
